.navbar-custom{
    height:70px;

    display:flex;
    align-items:center;
    justify-content:space-between;

    padding:0 30px;

    background:rgba(255,255,255,.25);

    backdrop-filter:blur(15px);

    border-bottom:1px solid rgba(255,255,255,.3);
}

.logo{
    font-size:24px;
    font-weight:bold;
    color:#ff4d8d;
}

.menu a{
    text-decoration:none;
    margin-left:20px;
    color:#444;
    font-weight:600;

    transition:.3s;
}

.menu a:hover{
    color:#ff4d8d;
}