body{
    margin:0;
    font-family:'Segoe UI', sans-serif;

    background: linear-gradient(
        135deg,
        #ffd6e7,
        #fff0f5,
        #ffe4ec
    );

    min-height:100vh;
}

.login-box{
    width:380px;

    margin:80px auto;

    padding:40px;

    background:rgba(255,255,255,.85);

    backdrop-filter:blur(15px);

    border-radius:25px;

    box-shadow:
    0 15px 40px rgba(0,0,0,.1);
}

input{
    width:100%;
    padding:10px;
    margin-top:10px;
}

button{
    width:100%;

    padding:14px;

    border:none;

    border-radius:12px;

    background:#ff4d88;

    color:white;

    font-size:16px;

    cursor:pointer;

    transition:.3s;
}

button:hover{
    transform:translateY(-3px);

    box-shadow:
    0 10px 20px rgba(255,77,136,.4);
}

.card{
    width:500px;
    margin:auto;
    background:white;
    padding:20px;
    border-radius:20px;
}
.hero{
    text-align:center;

    padding:80px 20px;
}

.hero h1{
    font-size:60px;

    color:#ff4d88;
}

.hero p{
    font-size:22px;
}
.heart{
    position:fixed;
    animation:fall 8s linear infinite;
}

@keyframes fall{
    from{
        transform:translateY(-100px);
    }

    to{
        transform:translateY(110vh);
    }
}